{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}

<!--====== PAGE BANNER PART START ======-->
    
<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(/global/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{{ product.name }}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'shop:product_list' %}">Courses</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== COURSES SINGEl PART START ======-->

<section id="corses-singel" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="corses-singel-left mt-30">
                    <div class="title">
                        <h3>{{ product.name }}</h3>
                    </div> <!-- title -->
                    <div class="course-terms">
                        <ul>
                            <li>
                                <div class="teacher-name">
                                    <div class="thum">
                                        <a href="{{ product.teacher.get_absolute_url }}"><img width="40" height="40" src="{{ product.teacher.picture.url }}" alt="{{ product.teacher.name }}"></a>
                                    </div>
                                    <div class="name">
                                        <span>Teacher</span>
                                        <h6><a href="{{ product.teacher.get_absolute_url }}">{{ product.teacher.name }}</a></h6>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="course-category">
                                    <span>Category</span>
                                    <h6><a href="{{ product.category.get_absolute_url }}" >{{ product.category }}</a></h6>
                                </div>
                            </li>
                            <li>
                                <div class="review product">
                                    <p style="display: none;">{{ product.average_rating }}</p>
                                    <span>Review</span>
                                    
                                    <ul>
                                        
                                        <li class="rating">({{ product.total_rating }} Review{{ product.total_rating|pluralize }})</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- course terms -->
                    
                    <div class="corses-singel-image pt-50">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </div> <!-- corses singel image -->
                    
                    <div class="corses-tab mt-30">
                        <ul class="nav nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                            </li>
                            <li class="nav-item">
                                <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab" aria-controls="curriculam" aria-selected="false">Curriculam</a>
                            </li>
                            <li class="nav-item">
                                <a id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Instructor</a>
                            </li>
                            <li class="nav-item">
                                <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                            </li>
                        </ul>
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                <div class="overview-description">
                                    <div class="singel-description pt-40">
                                        <h6>Course Summery</h6>
                                        <p>{{ product.summery }}</p>
                                    </div>
                                    <div class="singel-description pt-40">
                                        <h6>Requrements</h6>
                                        <p>{{ product.requirements }}</p>
                                    </div>
                                </div> <!-- overview description -->
                            </div>
                            <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                <div class="curriculam-cont">
                                    <div class="title">
                                        <h6>{{ product.name }}</h6>
                                    </div>
                                    <div class="accordion" id="accordionExample">
                                        {% for lecture in product_lectures %}
                                        <div class="card">
                                            <div class="card-header" id="heading{{ lecture.id }}">
                                                <a href="#" data-toggle="collapse" class="collapsed" data-target="#collapse{{ lecture.id }}" aria-expanded="true" aria-controls="collapse{{ lecture.id }}">
                                                    <ul>
                                                        <li><i class="fa fa-file-o"></i></li>
                                                        <li><span class="lecture">Lecture {{ lecture.id }}</span></li>
                                                        <li><span class="head">{{ lecture.name }}</span></li>
                                                        <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span>{{ lecture.duaration }}</span></span></li>
                                                    </ul>
                                                </a>
                                            </div>

                                            <div id="collapse{{ lecture.id }}" class="collapse" aria-labelledby="heading{{ lecture.id }}" data-parent="#accordionExample">
                                                <div class="card-body">
                                                    <p>{{ lecture.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div> <!-- curriculam cont -->
                            </div>
                            <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                                <div class="instructor-cont">
                                    <div class="instructor-author">
                                        <div class="author-thum">
                                            <a href="{{ product.teacher.get_absolute_url }}"><img width="150" height="150" src="{{ product.teacher.picture.url }}" alt="{{ product.teacher.name }}"></a>
                                        </div>
                                        <div class="author-name">
                                            <a href="{{ product.teacher.get_absolute_url }}"><h5>{{ product.teacher.name }}</h5></a>
                                            <span>{{ product.teacher.role }}</span>
                                            <ul class="social">
                                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="instructor-description pt-25">
                                        <p>{{ product.teacher.about }}</p>
                                    </div>
                                </div> <!-- instructor cont -->
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                <div class="reviews-cont">
                                    <div class="title">
                                        <h6>Student Reviews</h6>
                                    </div>
                                    {% if not product_reviews %}
                                    <br><p>There is no reviews</p>
                                    {% endif %}
                                    <ul>
                                        {% for review in product_reviews %}
                                        <li>
                                           <div class="singel-reviews">
                                                <div class="reviews-author">
                                                    <div class="author-thum">
                                                        <img width="70" height="70" src="/global/user.png" alt="Reviews">
                                                    </div>
                                                    <div class="author-name">
                                                        <h6>{{ review }}</h6>
                                                        <span>April 03, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="reviews-description pt-20">
                                                    <p>{{ review.comment }}</p>
                                                    <div class="rating user-rating">
                                                        <p style="display: none;">{{ review.rating }}</p>
                                                        <ul>
                                                            
                                                        </ul>
                                                        <span>/ {{ review.rating }} Star{{ review.rating|pluralize }}</span>
                                                    </div>
                                                </div>
                                            </div> <!-- singel reviews -->
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="title pt-15">
                                        <h6>Leave A Comment</h6>
                                    </div>
                                    <div class="reviews-form">
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ form.course }}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-singel">
                                                        {{ form.first_name }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-singel">
                                                        {{ form.last_name }}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <div class="rate-wrapper">
                                                            {{ form.rating }}
                                                            <div class="rate-label">Your Rating:</div>
                                                            <div class="rate" id="rate">
                                                                <div data-value="1" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div data-value="2" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div data-value="3" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div data-value="4" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                                <div data-value="5" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        {{ form.comment }}                            
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-singel">
                                                        <button id="submit" type="submit" class="main-btn">Post Comment</button>
                                                    </div>
                                                </div>
                                            </div> <!-- row -->                                 
                                        </form>
                                    </div>
                                </div> <!-- reviews cont -->
                            </div>
                        </div> <!-- tab content -->
                    </div>
                </div> <!-- corses singel left -->
                
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="course-features mt-30">
                           <h4>Course Features </h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i>Duaration : <span>{{ product.duaration }}</span></li>
                                <li><i class="fa fa-clone"></i>Leactures : <span>{{ product.lectures.count }}</span></li>
                                <li><i class="fa fa-beer"></i>Quizzes :  <span>{{ product.quizzes }}</span></li>
                                <li><i class="fa fa-user-o"></i>Students :  <span>{{ product.students }}</span></li>
                            </ul>
                            <div class="price-button pt-10">
                                <span>Price : <b>${{ product.price }}</b></span>
                                <a href="#" class="main-btn">Enroll Now</a>
                            </div>
                        </div> <!-- course features -->
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="You-makelike mt-30">
                            <h4>You make like </h4> 
                            {% for product in latest_products %}
                            <div class="singel-makelike mt-20">
                                <div class="image">
                                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                                </div>
                                <div class="cont">
                                    <a href="{{ product.get_absolute_url }}"><h4>{{ product.name }}</h4></a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i>{{ product.students }}</a></li>
                                        <li>${{ product.price }}</li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-8">
                <div class="releted-courses pt-95">
                    <div class="title">
                        <h3>Releted Courses</h3>
                    </div>
                    <div class="row">
                        {% for product in releted_products %}
                        <div class="col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                                    </div>
                                    <div class="price">
                                        <span>${{ product.price }}</span>
                                    </div>
                                </div>
                                <div class="cont product">
                                    <p style="display: none;">{{ product.average_rating }}</p>
                                    <ul>
                                        
                                    </ul>
                                    <span>({{ product.average_rating }} Reviw{{ product.average_rating|pluralize }})</span>
                                    <a href="{{ product.get_absolute_url }}"><h4>{{ product.name }}</h4></a>
                                    <div class="course-teacher">
                                        <div class="thum">
                                            <a href="{{ product.teacher.get_absolute_url }}"><img src="{{ product.teacher.picture.url }}" alt="{{ product.teacher.name }}"></a>
                                        </div>
                                        <div class="name">
                                            <a href="{{ product.teacher.get_absolute_url }}"><h6>{{ product.teacher.name }}</h6></a>
                                        </div>
                                        <div class="admin">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-user"></i>{{ product.students }}</a></li>
                                                <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- singel course -->
                        </div>
                        {% endfor %}
                    </div> <!-- row -->
                    {% if not releted_products %}<br><h5>There is no releted products </h5>{% endif %}
                </div> <!-- releted courses -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== COURSES SINGEl PART ENDS ======-->

{% endblock content %}

{% block script %}

<script>

    let contDivs = document.querySelectorAll('.product');
    let contDivs2 = document.querySelectorAll('.user-rating');

    contDivs.forEach(div => {
      let averageRating = div.querySelector('p').textContent;
      let ul = div.querySelector('ul');
      let li_imp = div.querySelector('li');

      ul.removeChild(li_imp);
    
      for (let i = 0; i <= 4; i++) {
        let li = document.createElement('li');
        let icon = document.createElement('i');
        let a = document.createElement("a");
        
        if (averageRating > i) {
          if (averageRating - i >= 1) {
              icon.className = 'fa fa-star';
            } else {
                icon.className = 'fa fa-star-half-o';
            }
            
        } else {
            icon.className = 'fa fa-star-o';
        }
        
        a.setAttribute("href", "#");
        a.appendChild(icon);
        li.appendChild(a);
        ul.appendChild(li); 
    }
    ul.appendChild(li_imp);
    });

    contDivs2.forEach(div => {
        let averageRating = div.querySelector('p').textContent;
        let ul = div.querySelector('ul');
      
        for (let i = 0; i < 5; i++) {
          let li = document.createElement('li');
          let icon = document.createElement('i');
      
          if (averageRating > i) {
            if (averageRating - i >= 1) {
              icon.className = 'fa fa-star';
            }
          } else {
            icon.className = 'fa fa-star-o';
          }
      
          li.appendChild(icon);
          ul.appendChild(li);  
        }
      });
    
    $( document ).ready(function() {
        $('#submit').prop('disabled', true);
    });
  
    $('.rate-item').on('click', function(){
          var value = $(this).data('value');
          $('#submit').removeAttr('disabled');
          $('#id_rating').val(value)
    });
    
</script>

{% endblock script %}
