{% extends 'base.html' %}

{% block title %}خروج از حساب کاربری{% endblock title %}
{% block content %}

<div class="full_page_photo no_photo">
    <div class="hgroup">
         <div class="hgroup_title animated bounceInUp skincolored">
              <div class="container">
                   <h1>خروج از<strong>حساب کاربری</strong></h1>
              </div>
         </div>
         <div class="hgroup_subtitle animated bounceInUp">
              <div class="container">
                   <p>از حساب کاربری خود خارج شدید</p>
              </div>
         </div>
    </div>
</div>
<div class="main">
    <div class="container triangles-of-section">
         <div class="triangle-up-left"></div>
         <div class="square-left"></div>
         <div class="triangle-up-right"></div>
         <div class="square-right"></div>
    </div>
    <section class="call_to_action four-o-four">
        <div class="container"> <i class="fa fa-sign-out"></i>
            <h4>با موفقیت از حساب کاربری خود خارج شدید</h4>
            
        </div>
   </section>

{% endblock content %}