{% extends 'base.html' %}

{% block title %}تغییر رمز عبور{% endblock title %}
{% block content %}

<div class="full_page_photo no_photo">
    <div class="hgroup">
         <div class="hgroup_title animated bounceInUp skincolored">
              <div class="container">
                   <h1><strong>رمز عبور</strong></h1>
              </div>
         </div>
         <div class="hgroup_subtitle animated bounceInUp">
              <div class="container">
                   <p>رمز عبور با موفقیت تغییر یافت</p>
              </div>
         </div>
    </div>
</div>
<div class="main">
    <div class="container triangles-of-section">
         <div class="triangle-up-left"></div>
         <div class="square-left"></div>
         <div class="triangle-up-right"></div>
         <div class="square-right"></div>
    </div>
    <section class="call_to_action four-o-four">
        <div class="container"> <i class="fa fa-unlock-alt"></i>
            <h4>رمز عبور با موفقیت تغییر یافت</h4>
            
        </div>
   </section>


{% endblock content %}