{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}فراموشی رمز عبور{% endblock title %}
{% block content %}

<div class="full_page_photo no_photo">
    <div class="hgroup">
         <div class="hgroup_title animated bounceInUp skincolored">
              <div class="container">
                   <h1><strong>فراموشی رمز عبور</strong></h1>
              </div>
         </div>
         <div class="hgroup_subtitle animated bounceInUp">
              <div class="container">
                   <p>رمز عبور  خود را بازیابی کنید</p>
              </div>
         </div>
    </div>
</div>
<div class="main">
    <div class="container triangles-of-section">
         <div class="triangle-up-left"></div>
         <div class="square-left"></div>
         <div class="triangle-up-right"></div>
         <div class="square-right"></div>
    </div>
    <section class="call_to_action four-o-four">
        <div class="container"> <i class="fa fa-key"></i>
            <h4>بازیابی رمز عبور</h4><br>
            <div class="col-lg-2"></div>
            <div class="form col-lg-8" dir="rtl">
                <form method="post">
                    {% if form.errors %}
                    <p class="text-danger">هیچ کاربری با آدرس ایمیل مشخص شده ثبت نام نکرده است!</p>
                    {% endif %}</br>
                    {{ form.email|attr:"placeholder:ایمیل بازیابی"|attr:"class:form-control" }}
                    <button type="submit" class="btn btn-primary">بازیابی</button> 
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </section> 

{% endblock content %}