{% extends 'base.html' %}

{% block title %}{{ teacher.name }}{% endblock title %}

{% block content %}

<!--====== PAGE BANNER PART START ======-->

<section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8" style="background-image: url(/global/page-banner-3.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Teachers</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page"><a href="{% url 'teacher:teacher_list' %}">Teachers</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ teacher.name }}</li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== TEACHERS PART START ======-->

<section id="teachers-singel" class="pt-70 pb-120 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="teachers-left mt-50">
                    <div class="hero">
                        <img width="270" height="308" src="{{ teacher.picture.url }}" alt="{{ teacher.name }}">
                    </div>
                    <div class="name">
                        <h6>{{ teacher.name }}</h6>
                        <span>{{ teacher.role }}</span>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                    <div class="description">
                        <p>{{ teacher.biography }}</p>
                    </div>
                </div> <!-- teachers left -->
            </div>
            <div class="col-lg-8">
                <div class="teachers-right mt-50">
                    <ul class="nav nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                        </li>
                    </ul> <!-- nav -->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                            <div class="dashboard-cont">
                                <div class="singel-dashboard pt-40">
                                    <h5>About</h5>
                                    <p>{{ teacher.about }}</p>
                                </div> <!-- singel dashboard -->
                                <div class="singel-dashboard pt-40">
                                    <h5>Achievements</h5>
                                    <p>{{ teacher.achievements }}</p>
                                </div> <!-- singel dashboard -->
                                <div class="singel-dashboard pt-40">
                                    <h5>My Objective</h5>
                                    <p>{{ teacher.objectives }}</p>
                                </div> <!-- singel dashboard -->
                            </div> <!-- dashboard cont -->
                        </div>
                        <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
                            <div class="courses-cont pt-20">
                                <div class="row">
                                    {% for course in teacher.courses.all %}
                                    <div class="col-md-6">
                                        <div class="singel-course mt-30">
                                            <div class="thum">
                                                <div class="image">
                                                    <img src="{{ course.image.url }}" alt="{{ course.name }}">
                                                </div>
                                                <div class="price">
                                                    <span>${{ course.price }}</span>
                                                </div>
                                            </div>
                                            <div class="cont border product">
                                                <p style="display: none;">{{ course.average_rating }}</p>
                                                <ul>
                                                    
                                                </ul>
                                                <span>({{ course.total_rating }} Review{{ course.total_rating|pluralize }})</span>
                                                <a href="{{ course.get_absolute_url }}"><h4>{{ course.name }}</h4></a>
                                                <div class="course-teacher">
                                                    <div class="thum">
                                                        <a href="{{ teacher.get_absolute_url }}"><img width='40' height='40' src="{{ teacher.picture.url }}" alt="teacher"></a>
                                                    </div>
                                                    <div class="name">
                                                        <a href="{{ teacher.get_absolute_url }}"><h6>{{ teacher.name }}</h6></a>
                                                    </div>
                                                    <div class="admin">
                                                        <ul>
                                                            <li><a href="#"><i class="fa fa-user"></i>{{ product.students }}</a></li>
                                                            <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- singel course -->
                                    </div>
                                    {% endfor %}
                                </div> <!-- row -->
                            </div> <!-- courses cont -->
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="reviews-cont">
                                <div class="title">
                                    <h6>Student Reviews</h6>
                                </div>
                                {% if not student_reviews %}
                                <br><p>There is no review</p>
                                {% endif %}
                                <ul>
                                    {% for review in student_reviews %}
                                    <li>
                                       <div class="singel-reviews">
                                            <div class="reviews-author">
                                                <div class="author-thum">
                                                    <img width="70" height="70" src="/global/user.png" alt="Reviews">
                                                </div>
                                                <div class="author-name">
                                                    <h6>{{ review }}</h6>
                                                    <span>{{ review.created }}</span>
                                                </div>
                                            </div>
                                            <div class="reviews-description pt-20">
                                                <p>{{ review.comment }}</p>
                                                <div class="rating user-rating">
                                                    <p style="display: none;">{{ review.rating }}</p>
                                                    <ul>
                                                        
                                                    </ul>
                                                    <span>/ {{ review.rating }} Star{{ review.rating|pluralize }}</span>
                                                </div>
                                            </div>
                                        </div> <!-- singel reviews -->
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="title pt-15">
                                    <h6>Leave A Comment</h6>
                                </div>
                                <div class="reviews-form">
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.teacher }}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-singel">
                                                    {{ form.first_name }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-singel">
                                                    {{ form.last_name }}
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-singel">
                                                    <div class="rate-wrapper">
                                                        {{ form.rating }}
                                                        <div class="rate-label">Your Rating:</div>
                                                        <div class="rate" id="rate">
                                                            <div data-value="1" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div data-value="2" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div data-value="3" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div data-value="4" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                            <div data-value="5" class="rate-item"><i class="fa fa-star" aria-hidden="true"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-singel">
                                                    {{ form.comment }}                            
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-singel">
                                                    <button type="submit" class="main-btn">Post Comment</button>
                                                </div>
                                            </div>
                                        </div> <!-- row -->                                 
                                    </form>
                                </div>
                            </div> <!-- reviews cont -->
                        </div>
                    </div> <!-- tab content -->
                </div> <!-- teachers right -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== EVENTS PART ENDS ======-->

{% endblock content %}

{% block script %}

<script>

    let contDivs = document.querySelectorAll('.product');
    let contDivs2 = document.querySelectorAll('.user-rating');

    contDivs.forEach(div => {
      let averageRating = div.querySelector('p').textContent;
      let ul = div.querySelector('ul');
    
      for (let i = 0; i <= 4; i++) {
        let li = document.createElement('li');
        let icon = document.createElement('i');
    
        if (averageRating > i) {
          if (averageRating - i >= 1) {
            icon.className = 'fa fa-star';
          } else {
            icon.className = 'fa fa-star-half-o';
          }
    
        } else {
          icon.className = 'fa fa-star-o';
        }
    
        li.appendChild(icon);
        ul.appendChild(li);
    
      }
    });

    contDivs2.forEach(div => {
        let averageRating = div.querySelector('p').textContent;
        let ul = div.querySelector('ul');
      
        for (let i = 0; i < 5; i++) {
          let li = document.createElement('li');
          let icon = document.createElement('i');
      
          if (averageRating > i) {
            if (averageRating - i >= 1) {
              icon.className = 'fa fa-star';
            }
          } else {
            icon.className = 'fa fa-star-o';
          }
      
          li.appendChild(icon);
          ul.appendChild(li);  
        }
      });
  
    $('.rate-item').on('click', function(){
          var value = $(this).data('value');
          console.log(value);
          $('#id_rating').val(value)
    });

</script>

{% endblock script %}
