{% extends 'base.html' %}

{% block content %}

<div class="full_page_photo no_photo">
    <div class="hgroup">
         <div class="hgroup_title animated bounceInUp skincolored">
              <div class="container">
                   <h1><strong>داشبورد</strong></h1>
              </div>
         </div>
         <div class="hgroup_subtitle animated bounceInUp">
              <div class="container">
                   <p>به داشبورد خوش امدید</p>
              </div>
         </div>
    </div>
</div>
<div class="main">
    <div class="container triangles-of-section">
         <div class="triangle-up-left"></div>
         <div class="square-left"></div>
         <div class="triangle-up-right"></div>
         <div class="square-right"></div>
    </div>
    <section class="call_to_action four-o-four">
        <div class="container"> <i class="fa fa-dashboard"></i>
            <h4>داشبورد</h4>
            <a id="submit_btn" class="btn btn-primary" name="submit" href="{% url 'account:password_change' %}">تغییر رمز عبور</a>
            <a id="submit_btn" class="btn btn-primary" name="submit" href="{% url 'account:edit' %}">تغییر پروفایل</a>
        </div>
   </section>

{% endblock content %}